[submodule "blocks/test_creator"]
	path = blocks/test_creator
	url = https://github.com/amanagr/test_creator
[submodule "question"]
	path = question
	url = https://github.com/amanagr/question
[submodule "mod/quiz"]
	path = mod/quiz
	url = https://github.com/amanagr/quiz
[submodule "theme/moove"]
	path = theme/moove
	url = https://github.com/amanagr/moove
[submodule "grade"]
	path = grade
	url = https://github.com/amanagr/grade
